<h1 class="mt-3 text-center">Datos Persona</h1>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2">
      <div class="mb-3">
        <label class="form-label">Nombres:</label>
        {{person.full_name}}
      </div>

      <div class="mb-3">
        <label class="form-label">Apellidos:</label>
        {{person.full_last_name}}
      </div>

      <div class="mb-3">
        <label class="form-label"># de identificación:</label>
        {{person.number_identification}}
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de nacimiento:</label>
        {{person.birthdate | date: 'M/d/yy'}}
      </div>

      <div class="mb-3">
        <label class="form-label">Genero:</label>
        {{person.sex}}
      </div>

      <button (click)="homePersonRedirect()"  type="button" class="btn btn-dark m-1">Volver</button>

    </div>

  </div>

</div>




