<h1 class="mt-3 text-center">Regsitro de Personas</h1>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2">
      <div class="mb-3">
        <label class="form-label">Nombres:</label>
        <input [(ngModel)]="person.full_name" type="text" class="form-control" placeholder="Ejemplo: Pepito" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Apellidos:</label>
        <input [(ngModel)]="person.full_last_name" type="text" class="form-control" placeholder="Ejemplo: Pérez" required>
      </div>

      <div class="mb-3">
        <label class="form-label"># de identificación:</label>
        <input [(ngModel)]="person.number_identification" type="number" class="form-control" placeholder="Ejemplo: 123123123" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de nacimiento:</label>
        <input [(ngModel)]="person.birthdate" type="date" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Genero:</label>
        <select [(ngModel)]="person.sex" class="form-select" aria-label="Selecciona tu genero" required>

          <option disabled selected>Selecciona tu genero</option>
          <option value="M">Masculino</option>
          <option value="F">Femenido</option>
          <option value="O">Otro</option>
        </select>
      </div>

      <button (click)="storePeople()"  type="button" class="btn btn-dark m-1">Agregar Persona</button>

    </div>

  </div>

</div>


