<h1 class="mt-3 text-center">Personas</h1>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-7 col-sm-12 col-md-12 offset-lg-1" *ngIf="!listPeople[0].status">
      <input [(ngModel)]="word" (keyup)="serachPeople()" type="text" class="form-control" placeholder="Buscar..."
        required>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-12 offset-lg-1">
      <button (click)="storePersonRedirect()" type="button" class="btn btn-dark m-1">Agregar Persona</button>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
      <div *ngIf="listPeople[0].status">
        <h6 class="text-primary text-center">{{listPeople[0].status}}</h6>
      </div>
      <div *ngIf="!listPeople[0].status">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Identificación</th>
              <th scope="col">Nombre completo</th>
              <th scope="col">Género</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of listPeople">
              <th scope="row">{{person.number_identification}}</th>
              <td>{{person.full_name}} {{person.full_last_name}}</td>
              <td>{{person.sex}}</td>
              <td>{{person.birthdate | date: 'M/d/yy'}}</td>
              <td>
                <button (click)="showPersonRedirect(person.id_person)" type="button" class="btn btn-primary btn-sm m-1"><i class="far fa-eye"></i></button>
                <button (click)="updatePersonRedirect(person.id_person)" type="button"
                  class="btn btn-warning btn-sm m-1"><i class="far fa-edit"></i></button>
                <button (click)="deletePerson(person.id_person)" type="button" class="btn btn-danger btn-sm m-1"><i
                    class="far fa-trash-alt"></i></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
